html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --brand-color: rgba(35, 35, 234);
  --brand-color-light: rgba(35, 35, 234, 0.25);
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.small-margin {
  margin: 0px;
  margin-top: 3px;
}

.logo {
  height: 1in;
  width: 1in;
}

.uppercase {
  text-transform: uppercase;
}

.invoiceTitle {
  font-size: 28px;
  color: var(--brand-color);
  margin-top: 12px;
  margin-bottom: 16px;
}

.bold {
  font-weight: bold;
}

.margin-reset {
  margin: 0;
}

.branded-hr {
  margin: 24px 0 0.75in 0;
  border-color: var(--brand-color);
}

.dotted-hr {
  margin: 30px 0 0 0;
  border: 1px dashed gray;
}

.header {
  background-color: var(--brand-color-light);
  margin: 0;
  padding: 4px 0 6px 0;
  text-align: left;
  color: var(--brand-color);
  font-weight: normal;
  text-transform: uppercase;
}

.min-width-data {
  min-width: 1in;
}

.balance-due {
  font-size: 24px;
  font-weight: bold;
}

.min-width {
  min-width: 3in;
}

.align-right {
  text-align: right;
}

/* Attempt to repeat the head of the table on each page */
thead {
  display: table-header-group !important;
  break-inside: avoid !important;
}
